@using B03.EE.SchuermansEva.Lib.Models;
@model B03.EE.SchuermansEva.MVC.Models.RegistrationDetailActivityViewModel;

<h2>Detail @Model.Activity.Title</h2>

<h3>Description</h3>
<p>@Model.Activity.Description</p>

<h3>Participants</h3>
<div>
    <ul class="list-group">     
        @foreach (User user in Model.Participants)
        {                 
            <li class="list-group-item">
                <span>@user.LastName @user.FirstName </span>
                @*<a asp-controller="Registrations" asp-action="DeleteUser" asp-route-id="@Model.Registration.Id"><span class="glyphicon glyphicon-remove"></span></a>*@    
            </li>    
        }                                      
    </ul>      
    <a class="btn btn-primary" asp-action="Index">Back</a>   
    @*<a class="btn btn-warning" asp-action="AddUser" asp-route-id="@Model.Id">Add</a>*@
</div>