@using B03.EE.SchuermansEva.Lib.Models;
@model B03.EE.SchuermansEva.MVC.Models.RegistrationDetailUserViewModel;

<h2>Detail @Model.User.FirstName @Model.User.LastName</h2>


<h3>Future activities</h3>
<ul class="list-group">
    @foreach (Activity activity in Model.ActivitiesForUser)
    {
        @if (activity.StopDateTime > DateTime.Now)
        {
            <li class="list-group-item"> 
                <span>@activity.Title</span>   
                @*<a asp-controller="Registrations" asp-action="DeleteUser" asp-route-id="@Model.Registration.Id"><span class="glyphicon glyphicon-remove"></span></a>*@
            </li>
        }
    }
</ul>

<h3>Past activities</h3>
@foreach (Activity activity in Model.ActivitiesForUser)
{
    @if (activity.StopDateTime < DateTime.Now)
    {       
        <li class="list-group-item">
            <span>@activity.Title</span>
            @*<a asp-controller="Registrations" asp-action="DeleteUser" asp-route-id="@Model.Registration.Id"><span class="glyphicon glyphicon-remove"></span></a>*@
        </li>
    }
}  

<div>
    <a class="btn btn-primary" asp-action="Index">Back</a>   
    @*<a class="btn btn-warning" asp-action="AddActivity" asp-route-id="@Model.Id">Add</a>*@
</div>