@using B03.EE.SchuermansEva.Lib.Models;
@model B03.EE.SchuermansEva.MVC.Models.RegistrationIndexViewModel;



<div class="row">
    <div class="col-md-4">
        <h2>Activities</h2>
        <ul class="list-group">
            @foreach (Activity activity in Model.Activities)
            {
                <li class="list-group-item" style="cursor:pointer">
                    <a asp-controller="Registrations" asp-action="DetailActivity" asp-route-id="@activity.Id">@activity.Title</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Users</h2>
        <ul class="list-group">
            @foreach (User user in Model.Users)
            {
                <li class="list-group-item" style="cursor:pointer">
                    <a asp-controller="Registrations" asp-action="DetailUser" asp-route-id="@user.Id">@user.LastName @user.FirstName</a>
                </li>
            }
        </ul>
    </div>
</div>